{{#buttonUrl}}
    <a href="{{{ buttonUrl }}}" target="_blank" {{#ariaLabel}}aria-label="{{ ariaLabel }}" role="button"{{/ariaLabel}}>{{{ buttonLabel }}}</a>
{{/buttonUrl}}
{{^buttonUrl}}
    {{{ buttonLabel }}}
{{/buttonUrl}}
