{{#buttonUrl}}
    <a href="{{ buttonUrl }}" target="_blank" {{#buttonUrl}}aria-label="{{ ariaLabel }}" role="button"{{/buttonUrl}}>{{ buttonLabel }}</a>
{{/buttonUrl}}
{{^buttonUrl}}
    {{ buttonLabel }}
{{/buttonUrl}}
