<button type="button" class="lf-menu-back-btn lf-btn lf-btn-sm lf-btn-default">{{{ strings.backBtn }}}</button>
<h3>{{{ strings.title }}}</h3>
{{#actionButton}}
    <button type="button" class="lf-menu-action-btn lf-btn lf-btn-sm">{{ strings.actionBtn }}</button>
{{/actionButton}}
